@charset "UTF-8";
.home {
  overflow-y: scroll;
  text-align: center;
  color: #c7c7c7;
  height: 100%;
  overflow-x: hidden;
}
.home .card {
  margin-top: 17vw;
  width: 100vw;
  background-color: #202020;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: white;
  text-align: start;
  border-top: 2px solid #202020;
  padding: 18px;
}
.home .card .card-content-top {
  display: flex;
  padding: 0px;
  width: 100%;
}
.home .card .card-content-top .col {
  width: 65vw;
}
.home .card .card-content-top .col1 {
  width: 35vw;
}
.home .card .card-content-top p {
  margin-left: 0px;
  font-size: 4vw;
  margin: 0px;
}
.home .card .card-content-top h2 {
  font-size: 8vw;
  font-weight: 600;
  margin: 0px;
}
.home .card .card-content-top span {
  font-size: 4vw;
  background-color: #202020;
  border: 1px solid gray;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 20px;
  color: yellow;
}
.home .card .card-content-bottom {
  display: flex;
  height: 37vw;
  padding: 0px;
  margin-top: 2vw;
}
.home .card .card-content-bottom .carousel {
  width: 73vw;
  display: flex;
}
.home .card .card-content-bottom .item {
  margin-top: auto;
  margin-bottom: auto;
  border: 1px solid gray;
  background-color: #202020;
  height: 37vw;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1vw;
  margin-right: 2vw;
}
.home .card .card-content-bottom .item #options-icon {
  color: white;
  margin-bottom: auto;
  font-size: 8vw;
  border-radius: 50%;
  padding: 1vw;
  display: flex;
  margin-left: auto;
  border: 1px solid #c7c7c7;
}
.home .card .card-content-bottom .item .item-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.home .card .card-content-bottom .item p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 1vw;
  margin-bottom: auto;
}
.home .card .card-content-bottom .item h6 {
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: auto;
}
.home .card .card-content-bottom .first-item {
  background-image: url("https://i.ibb.co/Jn5DHxt/download.jpg");
  background-size: cover;
}
.home .card .card-content-bottom .second-item {
  background-image: url("https://i.ibb.co/XFmqh9F/abstract-stock-skyblue-wallpaper-preview.jpg");
  background-size: cover;
}
.home .card .card-content-bottom .third-item {
  background-image: url("https://i.ibb.co/YTG9wxs/360-F-501048762-y3j0-DF3-Haa-Xw-Qotn-G51tg-FS3h-PMngo-FP.jpg");
  background-size: cover;
}
.home .card .card-content-bottom .add-item {
  height: 37vw;
  text-align: center;
  border-radius: 16px;
  margin-right: 2vw;
  border: 1px solid gray;
  background-color: #202020;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}
.home .card .card-content-bottom .add-item #add-icon {
  font-size: 40px;
  margin-top: auto;
  margin-bottom: auto;
}
.home .card .card-content-bottom .btn {
  background-color: red;
}
.home .my-income {
  text-align: start;
}
.home .my-income h6 {
  margin: 0px;
  padding: 2vw;
}
.home .my-income .cards {
  width: 50vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  background-color: #202020;
  border-radius: 30px;
  color: white;
  text-align: start;
  padding: 18px;
}
.home .my-income .cards .cards-top {
  display: flex;
}
.home .my-income .cards .cards-top .icon {
  border: 2px solid gray;
  border-radius: 50%;
  padding: 1vw;
  font-size: 8vw;
}
.home .my-income .cards .cards-top .dots {
  margin-left: auto;
  border: 2px solid transparent;
}
.home .my-income .cards .cards-bottom p {
  margin: 0px;
  margin-top: 2.5vw;
}
.home .my-income .cards .cards-bottom h6 {
  padding: 0px;
  margin-top: 2vw;
}
.home .my-income .cards:nth-child(2) {
  margin-left: 1.5vw;
  margin-right: 2vw;
}
.home .my-income .cards:nth-child(1) {
  margin-left: 2vw;
}
.home .spending-monthly {
  text-align: start;
}
.home .spending-monthly h6 {
  margin: 0px;
  padding: 2vw;
}
.home .spending-monthly .cards {
  width: 95vw;
  margin: 2vw;
  margin-bottom: 5vw;
  background-color: #202020;
  border-radius: 30px;
  color: white;
  text-align: start;
  display: flex;
  background-color: #202020;
  animation: changeColor1 0.5s ease-in-out;
}
.home .spending-monthly .clicked {
  animation: changeColor 0.5s ease-in-out;
  background-color: #b81212;
}
@keyframes changeColor1 {
  0% {
    background-color: #b81212;
    /* Početna boja */
  }
  100% {
    background-color: #202020;
    /* Nova boja */
  }
}
@keyframes changeColor {
  0% {
    background-color: initial;
    /* Početna boja */
  }
  100% {
    background-color: #b81212;
    /* Nova boja */
  }
}
.home .spending-monthly .icon {
  background-color: #202020;
  border: 2px solid #c7c7c7;
  border-radius: 50%;
  height: 13vw;
  width: 13vw;
  padding: 1vw;
}
.home .spending-monthly .first {
  background-color: #6115c4;
}
.home .spending-monthly h6 {
  margin: 0px;
}
.home .spending-monthly div {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2vw;
}
.home .spending-monthly p {
  margin: 0px;
  font-size: 4vw;
}
.home .spending-monthly h2 {
  margin-left: auto;
  margin-right: 4vw;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 7vw;
}
.home .spending-monthly span {
  font-size: 2.5vw;
  margin: 0px;
}
.home .home-chart {
  background-color: transparent;
  color: white;
  fill: red;
  height: 110px;
  overflow: hidden;
}
.home .statistic-chart {
  text-align: start;
  margin: 2.5vw;
  margin-top: 5vw;
}
.home .statistic-chart .statistic-chart-content {
  background: transparent;
  color: white;
  font-size: 20px;
  fill: red;
  margin-bottom: 5vw;
  background-color: #202020;
  border-radius: 30px;
  display: flex;
}
.home .statistic-chart #img {
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
  width: 250px;
}
.home .statistic-card {
  margin-top: 17vw;
  width: 100vw;
  background-color: #202020;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: white;
  text-align: start;
  border-top: 2px solid #202020;
  padding: 18px;
}
.home .statistic-card p {
  margin: 0px;
}
.home .statistic-card h2 {
  margin: 0px;
  margin-top: 3vw;
}
.home .statistic-card .progress-label {
  margin-top: 4vw;
}
.home .statistic-card .progress-bar {
  height: 6vw;
  background-color: rgba(255, 255, 255, 0.055);
}
.home .card-management {
  text-align: start;
  margin: 2.5vw;
  margin-top: 21vw;
}
.home .card-management .statistic-chart-content {
  background: transparent;
  color: white;
  font-size: 20px;
  fill: red;
  margin-bottom: 5vw;
  background-color: #202020;
  border-radius: 30px;
}
.home .card-management .cards {
  width: 50vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  background-color: #202020;
  border-radius: 30px;
  color: white;
  text-align: start;
  padding: 18px;
  width: 100%;
  display: flex;
}
.home .card-management .cards p {
  margin: 0px;
  padding: 0px;
  font-size: 10px;
}
.home .card-management .cards h6 {
  margin: 0px;
  padding: 0px;
}

.add-expense p {
  margin: 0px;
  margin-top: 4vw;
  text-align: center;
}
.add-expense #input {
  background: transparent;
  height: 45px;
  width: 100%;
  border: 0.5px solid #929292;
  border-radius: 5px;
  padding-left: 10px;
  color: white;
  font-size: 15px;
  background-color: #202020;
}
.add-expense #input-icon {
  background: transparent;
  height: 45px;
  width: 100%;
  border: 0.5px solid #929292;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
  padding-left: 10px;
  color: white;
  font-size: 15px;
  background-color: #202020;
}
.add-expense button {
  width: 100%;
  height: 45px;
  margin-top: 30px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: #6115c4;
  border: 2pxsolid gray;
  color: white;
  font-size: 14px;
}

.add-expense:focus {
  border: 2px solid green;
}

@media only screen and (min-width: 401px) and (max-width: 1024px) {
  .home .card {
    margin-top: 9vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 18px;
  }
  .home .card .card-content-top .col {
    width: 70vw;
  }
  .home .card .card-content-top .col1 {
    width: 30vw;
  }
  .home .card .card-content-top p {
    font-size: 4vw;
  }
  .home .card .card-content-top h2 {
    font-size: 4vw;
  }
  .home .card .card-content-top span {
    font-size: 3vw;
  }
  .home .card .card-content-bottom {
    height: 30vw;
  }
  .home .card .card-content-bottom .carousel {
    width: 100%;
  }
  .home .card .card-content-bottom .item {
    height: 30vw;
  }
  .home .card .card-content-bottom .item #options-icon {
    font-size: 5vw;
  }
  .home .card .card-content-bottom .item h6 {
    font-size: 3vw;
  }
  .home .card .card-content-bottom .add-item {
    height: 30vw;
  }
  .home .my-income h6 {
    font-size: 3vw;
    padding-bottom: 0px;
  }
  .home .my-income .cards .cards-top {
    display: flex;
  }
  .home .my-income .cards .cards-top .icon {
    border: 2px solid gray;
    font-size: 6vw;
  }
  .home .my-income .cards .cards-top .dots {
    font-size: 5vw;
  }
  .home .spending-monthly h6 {
    font-size: 3vw;
    padding-bottom: 0px;
  }
  .home .spending-monthly .cards {
    margin-bottom: 2vw;
  }
  .home .spending-monthly .icon {
    height: 8vw;
    width: 8vw;
  }
  .home .spending-monthly h6 {
    margin: 0px;
  }
  .home .spending-monthly div {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2vw;
  }
  .home .spending-monthly p {
    font-size: 2vw;
  }
  .home .spending-monthly h2 {
    font-size: 4vw;
  }
  .home .home-chart {
    height: 150px;
  }
  .home .statistic-chart {
    margin-top: 3vw;
    margin-bottom: 0px;
  }
  .home .statistic-chart h6 {
    font-size: 3vw;
  }
  .home .statistic-chart .statistic-chart-content {
    margin-bottom: 2vw;
    padding-bottom: 5vw;
  }
  .home .statistic-chart #img {
    padding: 60px;
    width: 300px;
  }
  .home .statistic-card {
    margin-top: 9vw;
  }
  .home .statistic-card p {
    font-size: 3vw;
  }
  .home .statistic-card h2 {
    font-size: 4vw;
  }
  .home .statistic-card h6 {
    font-size: 3vw;
  }
  .home .statistic-card .progress-bar {
    height: 4vw;
  }
  .home .card-management {
    margin-top: 9vw;
  }
  .home .card-management h6 {
    font-size: 3vw;
  }
  .home .card-management .statistic-chart-content {
    background: transparent;
    color: white;
    margin-bottom: 5vw;
    background-color: #202020;
    border-radius: 30px;
  }
  .home .card-management .cards {
    padding: 1.5vw;
  }
  .home .card-management .cards p {
    font-size: 2vw;
  }
}
@media only screen and (min-width: 1024px) {
  .home {
    padding-left: 20vw;
    padding-right: 20vw;
  }
  .home .card {
    margin-top: 3vw;
    width: 100%;
  }
  .home .card .card-content-top {
    padding: 1vw;
    padding-bottom: 0vw;
  }
  .home .card .card-content-top .col {
    width: 85vw;
  }
  .home .card .card-content-top .col1 {
    width: 15vw;
  }
  .home .card .card-content-top p {
    font-size: 1.2vw;
  }
  .home .card .card-content-top h2 {
    font-size: 2vw;
  }
  .home .card .card-content-top span {
    font-size: 1.2vw;
  }
  .home .card .card-content-bottom {
    height: 12vw;
    padding: 1vw;
    padding-top: 0vw;
    margin-top: 0vw;
  }
  .home .card .card-content-bottom .carousel {
    width: 100%;
  }
  .home .card .card-content-bottom .item {
    height: 10vw;
    margin: 0.5vw;
  }
  .home .card .card-content-bottom .item #options-icon {
    font-size: 1.5vw;
    padding: 0.4vw;
  }
  .home .card .card-content-bottom .item h6 {
    font-size: 1.2vw;
  }
  .home .card .card-content-bottom .add-item {
    height: 10vw;
    margin-right: 1vw;
  }
  .home .my-income h6 {
    font-size: 1.2vw;
    margin-left: 0.5vw;
    padding-bottom: 1vw;
  }
  .home .my-income p {
    padding-left: 0.5vw;
  }
  .home .my-income .cards {
    margin-top: 0.5vw;
  }
  .home .my-income .cards .cards-top {
    display: flex;
  }
  .home .my-income .cards .cards-top .icon {
    border: 2px solid gray;
    font-size: 4vw;
  }
  .home .my-income .cards .cards-top .dots {
    font-size: 2.5vw;
    padding: 0.7vw;
  }
  .home .spending-monthly {
    width: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .home .spending-monthly h6 {
    font-size: 1.2vw;
    padding-left: 0.5vw;
    padding-bottom: 1vw;
  }
  .home .spending-monthly .cards {
    margin-top: 0.5vw;
    margin-bottom: 1.5vw;
    margin-left: 0;
    width: 100%;
  }
  .home .spending-monthly .icon {
    height: 4vw;
    width: 4vw;
  }
  .home .spending-monthly h6 {
    margin: 0px;
  }
  .home .spending-monthly div {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1vw;
  }
  .home .spending-monthly p {
    font-size: 1vw;
  }
  .home .spending-monthly h2 {
    font-size: 2vw;
    margin-right: 1vw;
  }
  .home .home-chart {
    height: 150px;
  }
  .home .statistic-chart {
    margin-top: 3vw;
    margin-bottom: 0px;
  }
  .home .statistic-chart h6 {
    font-size: 1.2vw;
  }
  .home .statistic-chart .statistic-chart-content {
    margin-bottom: 0vw;
    padding-bottom: 5vw;
  }
  .home .statistic-chart #img {
    padding: 10px;
    width: 300px;
  }
  .home .statistic-card {
    margin-top: 4vw;
    width: 100%;
  }
  .home .statistic-card p {
    font-size: 1.2vw;
  }
  .home .statistic-card h2 {
    font-size: 2vw;
  }
  .home .statistic-card h6 {
    font-size: 1.2vw;
  }
  .home .statistic-card .progress-bar {
    height: 2vw;
  }
  .home .card-management {
    margin-top: 4.5vw;
  }
  .home .card-management h6 {
    font-size: 1.2vw;
  }
  .home .card-management .statistic-chart-content {
    background: transparent;
    color: white;
    margin-bottom: 5vw;
    background-color: #202020;
    border-radius: 30px;
  }
  .home .card-management .cards {
    padding: 1vw;
  }
  .home .card-management .cards p {
    font-size: 1vw;
  }
}/*# sourceMappingURL=home.css.map */